.fbIconImage {
   float: left;
   margin-right: 8px;
 /*  margin-top: 3px;*/
}

.fbCustomLink {
   color: #333;
   text-decoration: none;
}

.dave {
   float: left;
   margin-right: 8px;
   width: auto; 
}

.datestamp {
  /*float: left;*/
  width:auto;
}

.fbLinkHolder {
   margin-left: -24px;
}

.fbCustomBlock {
   margin: 8px 0px;
   width: 311px;
}

.fbHiddenTimeStamp {
   display: none;
}
